/* 
    CSS for Grupo inn
    Author: Edgar Castro
    Mail: edgar.castro.villa@outlook.com
    Version: 0.1
*/
.primary-text{
    color: white;
}


#profile {
    padding-top: 5px;
    text-align: center;
}

.img-circle{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

#likes {
    display: block;
    width: 100%;
    margin: 0 auto;   
}

#likes > button {
    margin-right: 2px;
}


#form {
    width: 90%;
    margin: 15px auto;
    border-radius: 5px;
    z-index: 1;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.2s ease-in-out;
}

#form header{
    text-align: center;
    padding: 0;
    border-bottom: 5px solid #FFC107;
}

#form md-input-container {
    width: 90%;
    display: block;
    margin-left: 5%;
}

.form-actions{
    width: 90%;
    margin-left: 5%;
}


#editProfile {
    margin: auto;
}

#editProfile {
    width: 80%;
    margin-left: 10%;
}

#editProfile md-input-container{
    display: block;
}

.event-img{
    height: 200px;
}

@media (min-width: 768px){
    .event-img{
    height: 300px;
}
    #sign-in {
        width: 60%;
    }
}
