/* 
    CSS for Grupo inn
    Author: Edgar Castro
    Mail: edgar.castro.villa@outlook.com
    Version: 0.1
*/
#profile {
    padding-top: 5px;
    text-align: center;
}

.img-circle{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

#likes {
    display: block;
    width: 100%;
    margin: 0 auto;   
}

#likes > button {
    margin-right: 2px;
}


