<div id="editProfile">
    <form>
        <md-input-container>
            <label>Nombres</label>
            <input type="text" ng-model="profile.name" required md-maxlength="30">
        </md-input-container>
        <!--Fecha de nacimiento-->
        <md-input-container>
            <label>E-mail</label>
            <input type="email" ng-model="profile.email" required md-maxlength="30">
        </md-input-container>
        <md-input-container>
            <label>Telefono</label>
            <input type="phone" ng-model="profile.phone" required md-maxlength="30">
        </md-input-container>
        <md-button ng-href="#/user/" class="raised">Cancelar</md-button>
        <md-button class="raised" type="submit">Guardar</md-button>
    </form>
</div>
