<md-card>
    <img ng-src="{{event.image}}" class="md-card-image" alt="Washed Out">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{event.name}}</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="start center">
        <md-card-icon-actions>
            <md-button class="md-icon-button" aria-label="Favorite">
                <i class="fa fa-menu"></i>
            </md-button>
            <md-button class="md-icon-button" aria-label="Share">
                <i class="fa fa-menu"></i>
            </md-button>
        </md-card-icon-actions>
        <md-button>Action 1</md-button>
        <md-button>Action 2</md-button>
    </md-card-actions>
    <md-card-content>
        <p>{{event.description}}</p>
    </md-card-content>
</md-card>
<h3>Participantes</h3>
<md-list>
  <md-list-item class="md-1-line" ng-repeat="item in event.participants">
    <img class="md-avatar" ng-src="{{item.image}}">
    <div class="md-list-item-text">
      <h3>{{item.names}}</h3>
    </div>
  </md-list-item>
</md-list>
