<div layout="row">
    <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-disable-backdrop md-whiteframe="4">
        <md-button ng-href="#/events/" class="md-raised md-accent" aria-label="Eventos">
            Eventos
        </md-button>
        <md-button ng-href="#/reservation/" class="md-raised md-accent" aria-label="Reservas" hide>
            Reservas
        </md-button>
    </md-sidenav>
    <md-content flex>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button ng-href="#/events/" class="md-icon-button" aria-label="User" >
                    <i class="fa fa-arrow-left fa-2x primary-text"></i>
                </md-button>
                <a href="#/"><h2><span class="primary-text">Grupo inn</span></h2></a>
                <!-- fill up the space between left and right area -->
                <span flex></span>
                <md-button ng-href="#/user/" class="md-icon-button" aria-label="User">
                    <md-tooltip>
                        Usuario
                    </md-tooltip>
                    <i class="fa fa-user fa-2x primary-text"></i>
                </md-button>
                <!--<md-button class="md-icon-button" aria-label="Notification">
                    <md-tooltip>
                        Notificaciones
                    </md-tooltip>
                    <i class="fa fa-bell fa-2x"></i>
                </md-button>-->
                <md-menu>
                    <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="More" md-prevent-menu-close="md-prevent-menu-close">
                        <md-tooltip>
                            M&aacute;s
                        </md-tooltip>
                        <i class="fa fa-ellipsis-v fa-2x primary-text"></i>
                    </md-button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="signout()">Cerrar Sesion</md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </md-toolbar>
        <md-content>
            <md-card style="margin: 0;">
                <img class="event-img" ng-src="{{event.url_image}}" class="md-card-image" alt="{{event.name}}">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{event.name}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="start center">
                    <!--<md-button class="md-raised">Invitar</md-button>-->
                    <md-button ng-click="join()" class="md-raised">Reservar</md-button>
                </md-card-actions>
                <md-card-content>
                    <p>{{event.description}}</p>
                </md-card-content>
            </md-card>
            <md-list>
                <md-subheader class="md-no-sticky">Participantes {{event.participants.length}}/{{event.quota}}</md-subheader>
                <md-list-item class="md-1-line" ng-repeat="item in event.participants">
                    <img class="md-avatar" ng-src="{{item.image}}">
                    <div class="md-list-item-text">
                        <h3>{{item.names}}</h3>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </md-content>

</div>
