<div id="feed">
    <md-card ng-repeat="event in events">
        <md-card-title>
            <md-card-title-media>
                <div class="md-media-lg card-media"><img ng-src="{{event.image}}" alt=""></div>
            </md-card-title-media>
            <md-card-title-text>
                <span class="md-headline">{{event.name}}</span>
                <span class="md-subhead">{{event.description}} <br> {{event.num_p}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
            <!--<md-button>Reservar</md-button>-->
            <md-button ng-href="#/event/{{event.id}}">Ver</md-button>
        </md-card-actions>
    </md-card>
</div>
