<div id="profile" ng-cloak>
    <md-content>
        <img ng-src="{{profile.image}}" alt="..." class="img-circle">
        <h4 class="md-display-1">{{profile.name}}</h4>
        <md-button class="md-raised" ng-href="#/user/edit/"> Actualizar datos </md-button>

        <div id="likes">
            <md-tabs md-center-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Mis gustos">
                    <md-tab-body>
                        <md-card ng-repeat="like in likes">
                            <md-card-title>
                                <md-card-title-media>
                                    <div class="md-media-lg card-media"><img ng-src="http://placehold.it/200x200" alt=""></div>
                                </md-card-title-media>
                                <md-card-title-text>
                                    <span class="md-headline">{{like.name}}</span>
                                    <span class="md-subhead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button class="md-warn" ng-click="showAlert($event)">Quitar</md-button>
                            </md-card-actions>
                        </md-card>
                    </md-tab-body>
                </md-tab>
                <md-tab label="Todos">
                    <md-tab-body>
                        <h1 class="md-display-2">Todos los gustos</h1>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
        </div>

    </md-content>
</div>
