<div id="form" layout="column">
  <header><h1 class="md-display-3">Registrate gratis</h1></header>
    <form ng-submit="register()" layout-padding>
       <md-input-container flex>
            <label>Correo</label>
            <md-icon><i class="fa fa-envelope fa-lg"></i></md-icon>
            <input type="text" ng-model="user.mail" required>
        </md-input-container>
        <md-input-container flex>
            <label>Usuario</label>
            <md-icon><i class="fa fa-user fa-lg"></i></md-icon>
            <input type="text" ng-model="user.name" required>
        </md-input-container>
        <md-input-container flex>
            <label>Contraseña</label>
            <md-icon><i class="fa fa-key fa-lg"></i></md-icon>
            <input type="password" ng-model="user.pass" required>
        </md-input-container>
        <div class="form-actions" layout="row" flex>
            <md-button class="md-raised" type="submit">Registrarse</md-button>
            <md-button  ng-href="#/signin/">¿Ya tienes cuenta?</md-button>
        </div>
    </form>
</div>
