<div id="form" layout="column">
   <h1 class="md-display-3">Inicia Sesion</h1>
    <form ng-submit="register()">
       <md-input-container flex>
            <label>Correo</label>
            <md-icon><i class="fa fa-envelope"></i></md-icon>
            <input type="text" ng-model="user.mail" required>
        </md-input-container>
        <md-input-container flex>
            <label>Usuario</label>
            <md-icon><i class="fa fa-user"></i></md-icon>
            <input type="text" ng-model="user.name" required>
        </md-input-container>
        <md-input-container flex>
            <label>Contraseña</label>
            <md-icon><i class="fa fa-key"></i></md-icon>
            <input type="password" ng-model="user.pass" required>
        </md-input-container>
        <div flex class="sign-actions">
            <md-button class="md-raised" type="submit">Registrarse</md-button>
        </div>
    </form>
</div>
