<md-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Reservar</h2>
            <span flex></span>
            <md-button ng-click="cancel()" class="md-icon-button" aria-label="User" hide-gt-md>
                <i class="fa fa-close fa-2x"></i>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <form ng-submit="confirm()">
                <md-input-container>
                    <label>Grupos</label>
                    <md-select ng-model="myGroup">
                       <md-option value="0">Nuevo grupo</md-option>
                        <md-option ng-repeat="group in groups" value="{{group.id}}">Grupo {{grupo.id}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label>Cantidad</label>
                    <input type="number" required>
                </md-input-container>
                <md-button class="md-raised" type="submit">Registrarse</md-button>
                <md-button class="md-raised" ng-click="cancel()">Cancelar</md-button>
            </form>
        </div>
    </md-dialog-content>
</md-dialog>
